In [1]:
!pip install scrapy

Collecting scrapy
  Using cached Scrapy-2.6.1-py2.py3-none-any.whl (264 kB)
Collecting lxml>=3.5.0
  Using cached lxml-4.8.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.9 MB)
Collecting itemadapter>=0.1.0
  Using cached itemadapter-0.6.0-py3-none-any.whl (10 kB)
Collecting w3lib>=1.17.0
  Using cached w3lib-1.22.0-py2.py3-none-any.whl (20 kB)
Collecting Twisted>=17.9.0
  Using cached Twisted-22.4.0-py3-none-any.whl (3.1 MB)
Collecting tldextract
  Using cached tldextract-3.3.0-py3-none-any.whl (93 kB)
Collecting itemloaders>=1.0.1
  Using cached itemloaders-1.0.4-py3-none-any.whl (11 kB)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.9/site-packages (from scrapy) (59.8.0)
Collecting cssselect>=0.9.1
  Using cached cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: cryptography>=2.0 in /opt/conda/lib/python3.9/site-packages (from scrapy) (36.0.1)
Collecting PyDispatcher>=2.0.5
  Using cached PyDispatcher-2.0.5-py3-none-any.whl
Collecting service-identity>=16.0.0
  Using cached service_identity-21.1.0-py2.py3-none-any.whl (12 kB)
Collecting queuelib>=1.4.2
  Using cached queuelib-1.6.2-py2.py3-none-any.whl (13 kB)
Collecting zope.interface>=4.1.3
  Using cached zope.interface-5.4.0-cp39-cp39-manylinux2010_x86_64.whl (255 kB)
Requirement already satisfied: pyOpenSSL>=16.2.0 in /opt/conda/lib/python3.9/site-packages (from scrapy) (22.0.0)
Collecting protego>=0.1.15
  Using cached Protego-0.2.1-py2.py3-none-any.whl (8.2 kB)
Collecting parsel>=1.5.0
  Using cached parsel-1.6.0-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: cffi>=1.12 in /opt/conda/lib/python3.9/site-packages (from cryptography>=2.0->scrapy) (1.15.0)
Collecting jmespath>=0.9.5
  Using cached jmespath-1.0.0-py3-none-any.whl (23 kB)
Requirement already satisfied: six>=1.6.0 in /opt/conda/lib/python3.9/site-packages (from parsel>=1.5.0->scrapy) (1.16.0)
Collecting pyasn1
  Using cached pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Requirement already satisfied: attrs>=19.1.0 in /opt/conda/lib/python3.9/site-packages (from service-identity>=16.0.0->scrapy) (21.4.0)
Collecting pyasn1-modules
  Using cached pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting hyperlink>=17.1.1
  Using cached hyperlink-21.0.0-py2.py3-none-any.whl (74 kB)
Requirement already satisfied: typing-extensions>=3.6.5 in /opt/conda/lib/python3.9/site-packages (from Twisted>=17.9.0->scrapy) (4.0.1)
Collecting constantly>=15.1
  Using cached constantly-15.1.0-py2.py3-none-any.whl (7.9 kB)
Collecting Automat>=0.8.0
  Using cached Automat-20.2.0-py2.py3-none-any.whl (31 kB)
Collecting incremental>=21.3.0
  Using cached incremental-21.3.0-py2.py3-none-any.whl (15 kB)
Collecting requests-file>=1.4
  Using cached requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: requests>=2.1.0 in /opt/conda/lib/python3.9/site-packages (from tldextract->scrapy) (2.27.1)
Collecting filelock>=3.0.8
  Using cached filelock-3.7.0-py3-none-any.whl (10 kB)
Requirement already satisfied: idna in /opt/conda/lib/python3.9/site-packages (from tldextract->scrapy) (3.3)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=2.0->scrapy) (2.21)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.1.0->tldextract->scrapy) (2.0.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.1.0->tldextract->scrapy) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.1.0->tldextract->scrapy) (2021.10.8)
Installing collected packages: w3lib, pyasn1, lxml, cssselect, zope.interface, requests-file, pyasn1-modules, parsel, jmespath, itemadapter, incremental, hyperlink, filelock, constantly, Automat, Twisted, tldextract, service-identity, queuelib, PyDispatcher, protego, itemloaders, scrapy
Successfully installed Automat-20.2.0 PyDispatcher-2.0.5 Twisted-22.4.0 constantly-15.1.0 cssselect-1.1.0 filelock-3.7.0 hyperlink-21.0.0 incremental-21.3.0 itemadapter-0.6.0 itemloaders-1.0.4 jmespath-1.0.0 lxml-4.8.0 parsel-1.6.0 protego-0.2.1 pyasn1-0.4.8 pyasn1-modules-0.2.8 queuelib-1.6.2 requests-file-1.5.1 scrapy-2.6.1 service-identity-21.1.0 tldextract-3.3.0 w3lib-1.22.0 zope.interface-5.4.0

In [1]:
import requests
import pandas as pd
import json
import numpy as np

In [2]:
cities = ["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"] #la liste des villes dont nous allons chercher les informations

cities_without_spaces = [x.replace(" ","+") for x in cities]
cities_without_spaces #les espaces sont remplacés par des +, cela nous sera utile pour la suite
cities_for_dic = [x.replace(" ","_") for x in cities]

r = requests.get("https://nominatim.openstreetmap.org/search.php?q=Mont+Saint+Michel&format=jsonv2")
#premier test pour récupérer les infos pour le mont saint michel
infos_test = r.json()
#infos_test #les infos dont on a besoin sont les premières

urls_to_get = []

for x in range(len(cities_without_spaces)):
    urls_to_get.append("https://nominatim.openstreetmap.org/search.php?q={}&format=jsonv2".format(cities_without_spaces[x]))
    

dataset = pd.DataFrame(columns = infos_test[0].keys())
#dataset.head() #Nous avons maintenant la base pour note Dataset

liste_infos = []

for x in range(len(urls_to_get)):
    r = requests.get(urls_to_get[x])
    liste_infos.append(r.json()[0])
    
dataset = dataset.append(liste_infos)
#dataset.head() #nous n'allons garder que le display_name, la latitude et la longitue


columns_to_keep = ['lat', 'lon', 'display_name']
dataset = dataset.drop((c for c in dataset.columns if c not in columns_to_keep), axis=1)
dataset['id'] = dataset.index
dataset['cities'] = cities
dataset = dataset[['id','cities','lat','lon']]
dataset.head()

/tmp/ipykernel_196/1302081398.py:60: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataset = dataset.append(liste_infos)

   id             cities         lat                 lon
0   0  Mont Saint Michel  48.6359541  -1.511459954959514
1   1            St Malo   48.649518          -2.0260409
2   2             Bayeux  49.2764624          -0.7024738
3   3           Le Havre  49.4938975           0.1079732
4   4              Rouen  49.4404591           1.0939658

In [3]:
# Nous allons maintenant récupérer des informations sur les météos des 35 villes 
#url_type_for_weather = "https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&exclude={part}&appid={API key}"

my_key_for_API_weather = "9dbefcbf7b6ac43109f987d714de8e50"

weathers = []

for x in dataset.index:
    r = requests.get(f"https://api.openweathermap.org/data/2.5/onecall?lat={dataset.lat[x]}&lon={dataset.lon[x]}&exclude=current,minutely,hourly,alerts&appid={my_key_for_API_weather}")
    weathers.append(r.json())

In [4]:
print(type(weathers))
print()
print(len(weathers))
print()
print(type(weathers[0]['daily']))
print()
print(weathers[0]['daily'][0]['weather'][0]['main'])

<class 'list'>

35

<class 'list'>

Rain

In [5]:
weathers_week = [x for x in range(0,35)] #je crée une liste de 35 éléments
for x in weathers_week:
    weathers_week[x] = [] #je transforme chaque élément en liste vide

for x in range(len(weathers_week)):
    for y in weathers[x]['daily']:
        weathers_week[x].append(y['weather'][0]['main'])

In [32]:
#  C = K - 273.15. va nous permettre de convertir les températures en celsius
weathers_temp = [x for x in range(0,35)] #je crée une liste de 35 éléments
for x in weathers_temp:
    weathers_temp[x] = [] #je transforme chaque élément en liste vide
    
for x in range(len(weathers_temp)):
    for y in weathers[x]['daily']:
        weathers_temp[x].append(y['temp']['day']-273.15)

In [33]:
weathers_temp

[[19.07000000000005,
  24.32000000000005,
  21.5,
  17.02000000000004,
  18.260000000000048,
  19.620000000000005,
  23.689999999999998,
  16.460000000000036],
 [19.689999999999998,
  21.82000000000005,
  18.80000000000001,
  15.950000000000045,
  17.25,
  17.99000000000001,
  20.28000000000003,
  15.610000000000014],
 [19.860000000000014,
  22.480000000000018,
  20.370000000000005,
  17.28000000000003,
  16.450000000000045,
  19.600000000000023,
  19.210000000000036,
  17.100000000000023],
 [18.25,
  20.370000000000005,
  17.5,
  15.050000000000011,
  15.120000000000005,
  16.180000000000007,
  18.140000000000043,
  14.450000000000045],
 [21.400000000000034,
  22.890000000000043,
  22.360000000000014,
  18.850000000000023,
  16.950000000000045,
  19.920000000000016,
  19.730000000000018,
  17.54000000000002],
 [23.110000000000014,
  25.210000000000036,
  25.930000000000007,
  24.260000000000048,
  21.680000000000007,
  22.980000000000018,
  24.30000000000001,
  20.590000000000032],
 [21.140000000000043,
  23.160000000000025,
  22.25,
  19.110000000000014,
  17.53000000000003,
  20.0,
  21.430000000000007,
  18.220000000000027],
 [20.99000000000001,
  23.890000000000043,
  23.28000000000003,
  20.939999999999998,
  18.230000000000018,
  19.510000000000048,
  21.640000000000043,
  18.420000000000016],
 [21.470000000000027,
  22.640000000000043,
  25.510000000000048,
  28.980000000000018,
  26.390000000000043,
  23.110000000000014,
  24.010000000000048,
  26.5],
 [17.629999999999995,
  19.810000000000002,
  22.840000000000032,
  26.900000000000034,
  25.77000000000004,
  21.83000000000004,
  19.390000000000043,
  24.210000000000036],
 [21.720000000000027,
  22.610000000000014,
  25.58000000000004,
  29.640000000000043,
  28.920000000000016,
  25.210000000000036,
  21.910000000000025,
  27.77000000000004],
 [21.77000000000004,
  22.850000000000023,
  25.80000000000001,
  29.890000000000043,
  29.439999999999998,
  25.710000000000036,
  21.950000000000045,
  27.810000000000002],
 [22.27000000000004,
  25.180000000000007,
  26.79000000000002,
  29.150000000000034,
  29.32000000000005,
  24.80000000000001,
  28.370000000000005,
  24.980000000000018],
 [21.890000000000043,
  22.870000000000005,
  24.689999999999998,
  26.160000000000025,
  24.57000000000005,
  22.24000000000001,
  23.450000000000045,
  23.220000000000027],
 [22.970000000000027,
  25.03000000000003,
  26.680000000000007,
  29.420000000000016,
  30.32000000000005,
  28.640000000000043,
  31.28000000000003,
  30.74000000000001],
 [26.600000000000023,
  28.560000000000002,
  29.920000000000016,
  31.379999999999995,
  32.35000000000002,
  32.5,
  35.53000000000003,
  33.54000000000002],
 [25.400000000000034,
  26.83000000000004,
  28.160000000000025,
  31.060000000000002,
  31.200000000000045,
  30.620000000000005,
  32.97000000000003,
  30.30000000000001],
 [23.450000000000045,
  25.28000000000003,
  25.33000000000004,
  25.52000000000004,
  26.02000000000004,
  27.390000000000043,
  28.420000000000016,
  27.600000000000023],
 [23.610000000000014,
  23.08000000000004,
  24.29000000000002,
  24.390000000000043,
  24.75,
  25.83000000000004,
  24.730000000000018,
  25.129999999999995],
 [22.28000000000003,
  22.78000000000003,
  22.78000000000003,
  23.82000000000005,
  23.850000000000023,
  23.760000000000048,
  23.980000000000018,
  25.410000000000025],
 [22.25,
  22.77000000000004,
  22.629999999999995,
  23.450000000000045,
  23.450000000000045,
  23.32000000000005,
  23.340000000000032,
  24.33000000000004],
 [25.350000000000023,
  27.5,
  28.80000000000001,
  28.950000000000045,
  28.400000000000034,
  28.220000000000027,
  31.430000000000007,
  30.360000000000014],
 [27.75,
  30.150000000000034,
  30.480000000000018,
  30.460000000000036,
  30.220000000000027,
  31.07000000000005,
  32.09000000000003,
  30.400000000000034],
 [26.620000000000005,
  30.100000000000023,
  30.870000000000005,
  29.32000000000005,
  29.180000000000007,
  30.950000000000045,
  31.57000000000005,
  28.970000000000027],
 [26.80000000000001,
  30.460000000000036,
  31.53000000000003,
  28.810000000000002,
  28.80000000000001,
  29.700000000000045,
  29.78000000000003,
  28.129999999999995],
 [22.55000000000001,
  24.810000000000002,
  25.150000000000034,
  23.29000000000002,
  23.58000000000004,
  23.189999999999998,
  22.960000000000036,
  22.75],
 [22.220000000000027,
  23.28000000000003,
  23.010000000000048,
  22.120000000000005,
  22.420000000000016,
  21.379999999999995,
  21.55000000000001,
  21.77000000000004],
 [22.860000000000014,
  24.850000000000023,
  25.32000000000005,
  26.210000000000036,
  29.680000000000007,
  25.160000000000025,
  25.689999999999998,
  24.900000000000034],
 [26.140000000000043,
  28.80000000000001,
  31.08000000000004,
  26.950000000000045,
  27.939999999999998,
  29.57000000000005,
  30.680000000000007,
  28.5],
 [20.52000000000004,
  23.29000000000002,
  23.77000000000004,
  24.379999999999995,
  27.27000000000004,
  26.470000000000027,
  31.970000000000027,
  21.360000000000014],
 [25.480000000000018,
  28.090000000000032,
  28.260000000000048,
  27.470000000000027,
  28.430000000000007,
  29.110000000000014,
  31.379999999999995,
  26.590000000000032],
 [25.470000000000027,
  27.810000000000002,
  27.99000000000001,
  27.340000000000032,
  28.860000000000014,
  29.150000000000034,
  32.629999999999995,
  26.80000000000001],
 [24.700000000000045,
  24.950000000000045,
  26.80000000000001,
  19.400000000000034,
  19.150000000000034,
  25.120000000000005,
  21.620000000000005,
  17.670000000000016],
 [25.150000000000034,
  26.04000000000002,
  28.230000000000018,
  20.100000000000023,
  19.600000000000023,
  26.700000000000045,
  22.460000000000036,
  17.910000000000025],
 [23.600000000000023,
  23.55000000000001,
  23.82000000000005,
  20.310000000000002,
  20.140000000000043,
  22.920000000000016,
  23.670000000000016,
  18.189999999999998]]

In [34]:
print(weathers_week[0])
print()
print(weathers_week[1])
print()
print(weathers_week[2])
print()
print(weathers_week[3])

['Rain', 'Rain', 'Rain', 'Rain', 'Rain', 'Clouds', 'Rain', 'Clouds']

['Rain', 'Rain', 'Rain', 'Rain', 'Rain', 'Clouds', 'Rain', 'Clouds']

['Rain', 'Rain', 'Rain', 'Rain', 'Rain', 'Clouds', 'Rain', 'Clouds']

['Rain', 'Rain', 'Rain', 'Rain', 'Rain', 'Clouds', 'Rain', 'Clouds']

In [35]:
weathers_week[20]

['Clouds', 'Clear', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds', 'Clouds']

In [36]:
cities_for_dic = [x.replace(" ","_") for x in cities]
weather_dic = dict(zip(cities_for_dic, weathers_week))
#dictionnaire avec les villes en clés et la météo de la semaine comme values

In [37]:
weather_dic['Mont_Saint_Michel']

['Rain', 'Rain', 'Rain', 'Rain', 'Rain', 'Clouds', 'Rain', 'Clouds']

In [38]:
dataset.head()

   id             cities         lat                 lon
0   0  Mont Saint Michel  48.6359541  -1.511459954959514
1   1            St Malo   48.649518          -2.0260409
2   2             Bayeux  49.2764624          -0.7024738
3   3           Le Havre  49.4938975           0.1079732
4   4              Rouen  49.4404591           1.0939658

In [45]:
days = [x for x in range(1,9)]
for x in range(len(days)):
    days[x] = "day " + str(x+1)
print(days)

temp = [x for x in range(1,9)]
for x in range(len(temp)):
    temp[x] = "day " + str(x+1) + " °C"
print(temp)

['day 1', 'day 2', 'day 3', 'day 4', 'day 5', 'day 6', 'day 7', 'day 8']
['day 1 °C', 'day 2 °C', 'day 3 °C', 'day 4 °C', 'day 5 °C', 'day 6 °C', 'day 7 °C', 'day 8 °C']

In [48]:
weather_df = pd.DataFrame(index=weather_dic.keys(), data=weathers_week)
weather_df.columns = days
display(weather_df.head())
print()
temp_df = pd.DataFrame(index=weather_dic.keys(), data=weathers_temp)
temp_df.columns = temp
display(temp_df.head())

                  day 1 day 2 day 3 day 4 day 5   day 6 day 7   day 8
Mont_Saint_Michel  Rain  Rain  Rain  Rain  Rain  Clouds  Rain  Clouds
St_Malo            Rain  Rain  Rain  Rain  Rain  Clouds  Rain  Clouds
Bayeux             Rain  Rain  Rain  Rain  Rain  Clouds  Rain  Clouds
Le_Havre           Rain  Rain  Rain  Rain  Rain  Clouds  Rain  Clouds
Rouen              Rain  Rain  Rain  Rain  Rain  Clouds  Rain    Rain

,day 1 °C,day 2 °C,day 3 °C,day 4 °C,day 5 °C,day 6 °C,day 7 °C,day 8 °C
Mont_Saint_Michel,19.07,24.32,21.50,17.02,18.26,19.62,23.69,16.46
St_Malo,19.69,21.82,18.80,15.95,17.25,17.99,20.28,15.61
Bayeux,19.86,22.48,20.37,17.28,16.45,19.60,19.21,17.10
Le_Havre,18.25,20.37,17.50,15.05,15.12,16.18,18.14,14.45
Rouen,21.40,22.89,22.36,18.85,16.95,19.92,19.73,17.54